.git
.gitignore
.gitattributes
.editorconfig
.github
node_modules
vendor
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
tests
phpunit.xml
README.md
render.yaml
.dockerignore
